<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Enviando un archivo al navegador</title>
</head>
<body>
    <h1 align="center">Feria Franca de Campo Grande</h1>

    <h2 align="center">Todo es cultivado de forma natural, orgánica y directamente extraído de la naturaleza-</h2>
    <p align="center">Nosotros somos productores directos, traemos los productos que sembramos en nuestras chacras</p>
    <div>un elemento en bloque</div>
    <div>otro elemento en bloque</div>
    <div>otro elemento en bloque</div>
<span>un elemento en linea</span>
<span>un elemento en linea</span>
<span>un elemento en linea</span>
</body>
</html>